 {{!-- * Setup the `index.handlebars` to have the template that Handlebars can render onto. Create a button in `index.handlebars`
that will submit the user input into the database. --}}

<h1>Eat-The-Burger!</h1>

<ul>
    {{#each burgers}}
    <li>
        <p> {{this.id}}. {{this.burger_name}} </p>
    </li>
    <button type="submit">Eat Me!</button>
    {{/each}}
</ul>

<form method="POST" action="/burger/create">
    <textarea name="comment"></textarea>
    <p>Add a Burger for Consumption...</p>
    <button type="submit">Submit</button>
</form>